@mixin center {
    text-align: center;
    margin: 0 auto;
}
@mixin flexbox {
    display: flex;
    justify-content: space-between;
}
@mixin mediaQ {
    @media (min-width: $breakpoint) {
        @content;
    }
}