%nav_layout {
    padding: $pad_nav $pad_nav*2;
    border-radius: 5px;
}
%btn_layout {
    padding: $pad_btn 0;
    border-radius: 5px;
    font-weight: 600;
    font-size: 0.7rem;
}
%img {
    width:50%;
}
%link {
    color: $color_default;
}