
.img--logo {
    padding-top: 1rem;
    @extend %img;
}
.img--avatar {
    margin-top: 1rem;
    @extend %img;
}
.img--frame {
    width: 100%;
    padding: 0.5rem;
    box-shadow:0 0 2px $text_color; 
}