.nav {
    list-style-type: none;
    padding-left: 0;
}

.nav__item {
    @extend %nav_layout;
    margin-bottom: .2rem;

    &:hover {
        background-color:$color_sucess;
        & a {
            color:white;
        }
    }
}
